@import '../../styles/mixin.scss';
@import '../../styles/variables.scss';
.Card {
  border: 1px solid $light;
  box-sizing: border-box;
  flex-basis: 50%;
  height: 55vh;
  padding: 3vh;
  cursor: pointer;

  h1 {
    color: $storm;
  }

  h2 {
    color: $cloud;
    font-size: medium;
    margin-top: -1vh;
  }

  &__image {
    height: 35vh;
    width: 25vh;
    object-fit: contain;
    padding: 1vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  &__status-box {
    padding: 0.7vh;
    border: 1px solid $light;
    max-width: fit-content;
    font-size: smaller;
    float: right;
  }
}
